<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shop.mapper.AuthorMapper">
	
	<!-- 작가 등록 -->
	<insert id="authorEnroll">
		INSERT INTO book_author(author_id, author_name, nation_id, author_intro) 
		VALUES(author_seq.nextval, #{author_name}, #{nation_id}, #{author_intro})
	</insert>

  </mapper>