<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shop.mapper.ReplyMapper">
 
 	<!-- 댓글 등록 -->
 	<insert id="enrollReply">
 		insert 
 		into	test_reply(reply_id, book_id, member_id, content, rating) 
 		values	(test_SEQ.nextval, #{book_id}, #{member_id}, #{content}, #{rating})
 	</insert>
 	
 
 
 
 
 
 
 
 
 
 
 
  </mapper>